# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# MkDocs build output
mkdocs-site/
.mkdocs-build/**
mkdocs.yml

# MkDocs generated assets
Labs/assets/

# Node
node_modules/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/
*.code-workspace

# Environment
.env
.env.local

# Misc
*.log
*.bak
*.tmp
.vercel
